body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1c1c1d;
  color: #e2e5e9;
  padding: 0;
  margin: 0;
}

.feed {
  max-width: 550px;
  margin: auto;
  .load-more {
    text-align: center;
    button {
      padding: 1rem 2rem;
      border: none;
      background-color: #252728;
      color: white;
      font-size: 0.8em;
      border-radius: 1em;
      margin-bottom: 1rem;
    }
  }
}
.loader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 100% 0 0);
  animation: l5 2s steps(11) infinite;
}
.loader:before {
  content: "Loading...";
}
@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
