.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  background-color: #252728;
  margin-bottom: 1em;
  padding: 0 1em;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  .left,
  .middle,
  .right {
    display: flex;
    gap: 10px;
    padding: 0.5rem 0;
    align-items: stretch;
    > * {
      cursor: pointer;
    }
  }
  .middle {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 550px;
    padding: 0 1rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .right {
    justify-self: end;
  }
  img {
    height: 2.2rem;
    width: 2.2rem;
    object-fit: contain;
    flex-shrink: 0;
  }
  .circle {
    width: 2rem;
    height: 2rem;
    background-color: #333334;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    svg {
      font-size: 1.2rem;
      color: white;
    }
  }
  .search {
    height: 2rem;
    min-width: 200px;
    background-color: #333334;
    border-radius: 15px;
    display: flex;
    align-items: center;

    overflow: hidden;
    div,
    input {
      background-color: #333334;
    }

    div {
      padding: 0 10px;
    }
    input {
      border: none;
      color: white;
      &:focus {
        outline: none;
        border: none;
      }
    }
  }
  .desktop-only {
    display: flex;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .mobile-only {
    display: none;

    @media (max-width: 768px) {
      display: flex;
    }
  }
  .not {
    position: relative;
    &::after {
      content: "•";
      position: absolute;
      color: red;
      top: -0.8rem;
      right: -0.2rem;
      font-size: 2.2rem;
    }
  }

  .arrow {
    position: relative;
    &::after {
      content: "^";
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      position: absolute;
      background-color: #b0b3b8;
      color: white;
      top: 1.5rem;
      right: -0.1rem;
      font-size: 0.5rem;
      line-height: 1;
      border-radius: 100%;
      width: 0.3rem;
      height: 0.3rem;
    }
    .dropdown {
      position: absolute;
      top: calc(100% + 8px); // 8 px odstępu pod kółkiem
      right: 0; // wyrównaj do prawej krawędzi ikony
      width: 200px;
      background: #252728;
      border-radius: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.35);
      padding: 0.5rem 0;
      display: none; // domyślnie ukryte
      z-index: 999; // żeby nie schowało się pod innymi

      li {
        list-style: none;
        padding: 0.5rem 1rem;
        color: white;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background: #333334;
        }
      }
    }

    // Pokaż dropdown na hover
    &:hover .dropdown {
      display: block;
    }
  }
}
